<!--<mat-chip-list>
  <mat-chip *ngFor="let filtro of filterchips" color="primary">    {{filtro.filtro}}
    <span *ngIf="filtro.filtro === 'Periodo'">
             <span *ngFor="let year of filtro.years">
                 <span>
                   <i class="material-icons" (click)="removeFilter(filtro,year)">cancel</i>  {{filtro.texto}} {{year}}
               </span>
            </span>
         </span>
  </mat-chip>
</mat-chip-list>-->
<div *ngIf="options" leaflet style="height: 100%;" [(leafletOptions)]="options" id="map"
     [(leafletCenter)]="options.center" [(leafletZoom)]="options.zoom" [(leafletLayers)]="options.layers"
     [leafletMarkerCluster]="markerClusterData" [leafletMarkerClusterOptions]="markerClusterOptions"
     (leafletMarkerClusterReady)="markerClusterReady($event)">
</div>
<div class="card card-map-info" [ngClass]="{'collapse-hidden' :collapsedSelected != 1 || !isCollapsed}">
  <div class="card-header" id="headingInfo" (click)="changeStatusCollapse(1)">
    <h5 class="mb-0">
      <a class="btn btn-open-info">
        Información &nbsp; <i class="icon-arrow-up"></i>
      </a>
    </h5>
  </div>
  <div id="collapseInfo" class="collapse show" aria-labelledby="headingInfo">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <tabset>
            <tab heading="Resumen">
              <div class="row p15">
                <div class="col-lg-3 col-md-6 project-info-list">
                  <h4><i class="material-icons">people</i></h4>
                  <h5>{{totalbeneficiarios |  number:0}}</h5>
                  <h6>Beneficiarios Directos e Indirectos</h6>
                </div>
                <div class="col-lg-3 col-md-6 project-info-list">
                  <h4><i class="material-icons">library_books</i></h4>
                  <h5>{{projects.length}}</h5>
                  <h6>Proyectos</h6>
                </div>
                <div class="col-lg-3 col-md-6 project-info-list">
                  <h4><i class="material-icons">home</i></h4>
                  <h5>{{ejecutorestotal}}</h5>
                  <h6>Agencias Ejecutoras</h6>
                </div>
                <div class="col-lg-3 col-md-6 project-info-list">
                  <h4><i class="material-icons">home</i></h4>
                  <h5>{{implementadorestotal}}</h5>
                  <h6>Agencias Implementadoras</h6>
                </div>
                <div class="col-md-12" style="border-top: 1px solid;margin-top: 20px;">
                  <div style="margin-top:10px; text-align: center">
                    <h5>PRESUPUESTO</h5>
                    <h3><b>{{presupuestototal | currency : 'USD' : "$" : '0.0-0'}} US</b></h3>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Lista de Proyectos">
              <div class="col-md-3">
                  <button *ngIf="act_ids.length" type="button" class="btn btn-info btn-sm" (click)="excelProjects()">
                          <i class="material-icons">save_alt</i>Descargar proyectos
                  </button>
                </div>
              <div class="row p15">
                <div class="col-md-12">
                  <div *ngFor="let pro of project_list" class="project-list-map">
                    <div class="card" (click)="show_modal(pro.id,'boton')">
                      <div class="card-header">{{pro.name}}
                      </div>
                      <div class="card-body">
                        <p><b>Descripción: </b>{{pro.description}}</p>
                        <p><b>Presupuesto: </b>{{pro.presu | currency : 'USD' : "$" : '0.0-0'}} US</p>
                        <p><b>Beneficiarios: </b>
                          <span *ngFor="let beneficiario of pro.beneficiaries">
                                {{beneficiario.total  |  number:0}}
                              </span>
                        </p>
                        <p><b>Fecha Inicio: </b><span *ngIf="pro.date_start">{{pro.date_start}}</span></p>
                        <p><b>Fecha Fin: </b><span *ngIf="pro.date_end">{{pro.date_end}}</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="button" class="btn btn-success btn-block" (click)="loadMoreProjectsList()"
                          *ngIf="act_ids.length > list_end">Ver más
                  </button>
                </div>
              </div>
            </tab>
            <!--tab graficas-->
            <tab heading="Gráficas">
              <div class="row p15">

                <div class="col-lg-6 col-md-6" style="margin-bottom: 20px;" >
                  <!--<h4><i class="material-icons"></i></h4>-->
                  <h3>Principales Ejecutoras (Presupuesto)</h3>
                   <canvas baseChart
                      [(datasets)]="barChartDataTopEjecutores"
                      
                      [chartType]="barChartDataTopEjecutoresType"
                      [options]="barChartDataTopEjecutoresOptions">
                        
                      </canvas>

                      <div  class="row" *ngFor="let orgejecutora of top5organizacionesejecutoras; let i=index" style="text-align: justify;" data-spy="scroll">
                        <div class="col-md-2">
                          {{i+1}}
                        </div>
                        <div class="col-md-7">
                           {{orgejecutora.org.name}}
                        </div>
                        <div class="col-md-3">
                          <b>{{(orgejecutora.orgprojpresupuesto/presupuestototal) | percent:'1.2-2'}}</b>
                          {{orgejecutora.orgprojpresupuesto | currency : 'USD' : "$" : '0.0-0'}} US
                        </div>
                      </div>
                      
                      <button *ngIf="mostrarTop5Ejecutoras == true" type="button" (click)="mostrarTodasOrgEjecutoras('todas')">Mostrar Todos</button>
                      <button *ngIf="mostrarTop5Ejecutoras == false" type="button" (click)="mostrarTodasOrgEjecutoras('top5')">Mostrar Principales</button>
                </div>

                
                <div class="col-lg-6 col-md-6" style="margin-bottom: 20px;" >
                  <h3>Principales Implementadoras (Presupuesto)</h3>
                   <canvas baseChart
                      [(datasets)]="barChartDataTopImplementadores"
                      [(labels)]="barChartDataTopImplementadoresLabels"
                      [chartType]="barChartDataTopImplementadoresType"
                      [legend]="barChartDataTopImplementadoresLegend"
                      [options]="barChartDataTopImplementadoresOptions">
                        
                      </canvas> 

                      <div  class="row" *ngFor="let implementadora of top5organizacionesimplementadoras; let i=index" style="text-align: justify;" data-spy="scroll">
                        <div class="col-md-2">
                          {{i+1}}
                        </div>
                        <div class="col-md-7">
                           {{implementadora.org.name}}
                        </div>
                        <div class="col-md-3">
                         <!-- <b>{{(implementadora.orgprojpresupuesto/presupuestototal) | percent:'1.2-2'}}</b>-->
                          {{implementadora.orgprojpresupuesto | currency : 'USD' : "$" : '0.0-0'}} US
                        </div>
                      </div>
                      
                      <button *ngIf="mostrarTop5Implementadores == true" type="button" (click)="mostrarTodasOrgImplementadoras('todas')">Mostrar Todos</button>
                      <button *ngIf="mostrarTop5Implementadores == false" type="button" (click)="mostrarTodasOrgImplementadoras('top5')">Mostrar Principales</button>
                </div>

       


                <div class="col-lg-6 col-md-6" style="margin-bottom: 20px;" >
                  <!--<h4><i class="material-icons"></i></h4>-->
                  <h3>Principales Donantes (Presupuesto)</h3>
                   <canvas baseChart
                      [(datasets)]="barChartDataTopDonantes"
                      [(labels)]="barChartDataTopDonantesLabels"
                      [chartType]="barChartDataTopDonantesType"
                      [legend]="barChartDataTopDonantesLegend"
                      [options]="barChartDataTopDonantesOptions">
                        
                      </canvas> 

                      <div  class="row" *ngFor="let donante of top5organizacionesdonantes; let i=index" style="text-align: justify;" data-spy="scroll">
                        <div class="col-md-2">
                          {{i+1}}
                        </div>
                        <div class="col-md-7">
                           {{donante.org.name}}
                        </div>
                        <div class="col-md-3">
                          <!--<b>{{(donante.orgprojpresupuesto/presupuestototal) | percent:'1.2-2'}}</b>-->
                          {{donante.orgprojpresupuesto | currency : 'USD' : "$" : '0.0-0'}} US
                        </div>
                      </div>
                      
                      <button *ngIf="mostrarTop5Donantes == true" type="button" (click)="mostrarTodasOrgDonantes('todas')">Mostrar Todos</button>
                      <button *ngIf="mostrarTop5Donantes == false" type="button" (click)="mostrarTodasOrgDonantes('top5')">Mostrar Principales</button>
                </div>

                <div class="col-lg-6 col-md-6" style="margin-bottom: 20px;" >
                  <!--<h4><i class="material-icons"></i></h4>-->
                  <h3>Principales Departamentos (Presupuesto)</h3>
                   <canvas baseChart
                      [(datasets)]="barChartDataTopDepartamentos"
                      [(labels)]="barChartDataTopDepartamentosLabels"
                      [chartType]="barChartDataTopDepartamentosType"
                      [legend]="barChartDataTopDepartamentosLegend"
                      [options]="barChartDataTopDepartamentosOptions">
                        
                      </canvas> 

                      <div  class="row" *ngFor="let departamento of top5departamentospresupuestos; let i=index" style="text-align: justify;" data-spy="scroll">
                        <div class="col-md-2">
                          {{i+1}}
                        </div>
                        <div class="col-md-7">
                           {{departamento.name}}
                        </div>
                        <div class="col-md-3">
                          <b>{{(departamento.presu/presupuestototal) | percent:'1.2-2'}}</b>
                          {{departamento.presu | currency : 'USD' : "$" : '0.0-0'}} US
                        </div>
                      </div>
                      
                      <button *ngIf="mostrarTop5Departamentos == true" type="button" (click)="mostrarTodosDepartamentosTop('todas')">Mostrar Todos</button>
                      <button *ngIf="mostrarTop5Departamentos == false" type="button" (click)="mostrarTodosDepartamentosTop('top5')">Mostrar Principales</button>
                </div>



               
                <div class="col-lg-6 col-md-6" style="margin-bottom: 20px;" >
                  <!--<h4><i class="material-icons"></i></h4>-->
                  <h3>Principales Proyectos (Presupuesto)</h3>
                    <canvas baseChart
                      [(data)]="pieChartDataPresupuestos"
                      [(labels)]="pieChartPresupuestosLabels"
                      [chartType]="pieChartPresupuestosType">
                        
                      </canvas>

                      <div>
                        <p *ngFor="let projectinfo of pieChartInfoPresupuestos; let i=index" style="text-align: justify;">
                          {{i+1}}: <span>{{projectinfo.code}} - Presupuesto: {{projectinfo.presu | currency : 'USD' : "$" : '0.0-0'}} US - {{projectinfo.name}}</span>
                        </p>
                      </div>
                </div>
                 <div class="col-lg-6 col-md-6" style="margin-bottom: 20px;" >
                  <!--<h4><i class="material-icons"></i></h4>-->
                  <h3>Principales Proyectos (Beneficiarios)</h3>
                    <canvas baseChart 
                      [(data)]="pieChartDataBeneficiarios"
                      [(labels)]="pieChartBeneficiariosLabels"
                      [chartType]="pieChartBeneficiariosType">
                        
                      </canvas>
                      <div>
                        <p *ngFor="let projectinfo of pieChartInfoBeneficiarios; let i=index" style="text-align: justify;">
                         {{i+1}}: <span>{{projectinfo.code}} - Beneficiarios: {{projectinfo.beneficiaries[0]['total'] | number:0}} - {{projectinfo.name}}</span>
                        </p>
                      </div>
                </div>

                 

                <div class="col-lg-6 col-md-6" style="margin-bottom: 20px;" >
                  <!--<h4><i class="material-icons"></i></h4>-->
                  <h3>Principales Departamentos (Número de Proyectos)</h3>
                    <canvas baseChart 
                      [(data)]="pieChartDataDepartamentos"
                      [(labels)]="pieChartDepartamentosLabels"
                      [chartType]="pieChartDepartamentosType">
                        
                      </canvas>
                      <div>
                        <p *ngFor="let departamento of pieChartInfoDepartamentos; let i=index" style="text-align: justify;">
                         {{i+1}}: <span>{{departamento.name}} - Proyectos: {{departamento.projects_count | number}}</span>
                        </p>
                      </div>
                </div>

                 <div class="col-lg-6 col-md-6" style="margin-bottom: 20px;" >
                  <!--<h4><i class="material-icons"></i></h4>-->
                  <h3>Principales Municipios (Número de Proyectos)</h3>
                    <canvas baseChart 
                      [(data)]="pieChartDataCiudades"
                      [(labels)]="pieChartCiudadesLabels"
                      [chartType]="pieChartCiudadesType">
                        
                      </canvas>
                      <div>
                        <p *ngFor="let ciudad of pieChartInfoCiudades; let i=index" style="text-align: justify;">
                         {{i+1}}: <span>{{ciudad.name}} - Proyectos: {{ciudad.projects_count | number}}</span>
                        </p>
                      </div>
                </div>
 
              
              
                
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card card-map-filtros" [ngClass]="{'collapse-hidden' :collapsedSelected != 2 || !isCollapsed}">
  <div class="card-header" id="headingFiltros" (click)="changeStatusCollapse(2)">
    <h5 class="mb-0">
      <a class="btn btn-open-info">
        Filtros &nbsp; <i class="icon-arrow-up"></i>
      </a>
    </h5>
  </div>
  <div id="collapseFiltros" class="collapse show" aria-labelledby="headingFiltros">
    <div class="card-body">
      <div class="row">
        <div class="form-group col-md-12 filtro-periodo">
          <h5>Periodo</h5>
          <div *ngFor="let opcvigencia of opcionesvigencia" class="radio-per">
            <input type="radio" id="r{{opcvigencia.value}}" name="r" [value]="opcvigencia" [(ngModel)]="lavigencia">
            <label for="r{{opcvigencia.value}}">{{opcvigencia.texto}}</label>
          </div>
          <select placeholder="PERIODO" name="periodo" [(ngModel)]="periodoseleccionado" class="form-control"
                  (change)="filtroPeriodo(periodoseleccionado,lavigencia)">
            <option *ngFor="let periodo of periodos" [value]="periodo">
              {{periodo}}
            </option>
            <option [value]="0">
              Todos los periodos
            </option>
          </select>
        </div>
        <div class="col-md-4 class-tags" *ngFor="let rel of relacionesOrgProyectos; let i=index"
             style="display: inline-block;">
          <label class="font-weight-bold" title="{{rel.name}}"
                 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 100%;">{{rel.name}}</label>
          <ng-select [(ngModel)]="filters.org[rel.id]" name="tag{{i}}" [multiple]="true" [searchable]="true"
                     placeholder="Seleccione" (change)="enviarInfo()">
            <ng-option *ngFor="let o of filtros.org_list[rel.id]" [value]="o.organization_id">
              ({{o.p_org_count}}) - {{o.org.name}}
            </ng-option>
          </ng-select>
        </div>
        <div class="col-md-4 class-tags" *ngFor="let projtag of projecttags; let i=index"
             style="display: inline-block;">
          <label class="font-weight-bold" title="{{projtag.name}}"
                 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 100%;">{{projtag.name}}</label>
          <ng-select [(ngModel)]="filters.tags[projtag.id]" name="tag{{i}}" [multiple]="true" [searchable]="true"
                     placeholder="Seleccione" (change)="enviarInfo()">
            <ng-option *ngFor="let f of filtros.tags_list[projtag.id]" [value]="f.id">
              ({{f.projectprojecttags_count}}) - {{f.name}}
            </ng-option>
          </ng-select>
        </div>
        <div class="col-md-4 class-tags" *ngFor="let projshorttag of projectshorttags; let i=index"
             style="display: inline-block;">
          <label class="font-weight-bold" title="{{projshorttag.name}}"
                 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 100%;">{{projshorttag.name}}</label>
          <ng-select [(ngModel)]="filters.shorttags[projshorttag.id]" name="tag{{i}}" [multiple]="true"
                     [searchable]="true" placeholder="Seleccione" (change)="enviarInfo()">
            <ng-option *ngFor="let f of filtros.stags_list[projshorttag.id]" [value]="f.id">
              ({{f.projectprojecttags_count}}) - {{f.name}}
            </ng-option>
          </ng-select>
        </div>
        <div class="col-md-4 class-tags" style="display: inline-block;">
          <label class="font-weight-bold" title="Departamento"
                 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 100%;">Departamento</label>
          <ng-select [(ngModel)]="departamentosseleccionados" [multiple]="true" [searchable]="true"
                     placeholder="Seleccione" (change)="filtroDepartamentos(departamentosseleccionados)">
            <ng-option *ngFor="let d of departamentos" [value]="d">
              ({{d.projects_count}}) - {{d.name}}
            </ng-option>
          </ng-select>
        </div>
        <div class="col-md-4 class-tags" style="display: inline-block;">
          <label class="font-weight-bold" title="Municipio"
                 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 100%;">Municipio</label>
          <ng-select [(ngModel)]="cityselected" [multiple]="true" [searchable]="true"
                     placeholder="Seleccione" (change)="filtroCiudades(cityselected)">
            <ng-option *ngFor="let c of cities" [value]="c">
              ({{c.projects_count}}) - {{c.name}}
            </ng-option>
          </ng-select>
        </div>
      </div>
    </div>
  </div>
</div>
<!--MODAL INFO-->
<button type="button" style="visibility: hidden; position: absolute; top:0;" id="btn-show-modal"
        (click)="modal.show()"></button>
<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Información del proyecto</h4>
        <button type="button" class="close" (click)="modal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <label><strong>Nombre: </strong></label>
          <p>{{proyectoseleccionado.name}}</p>
        </div>
        <div>
          <label><strong>Descripción: </strong></label>
          <p>{{proyectoseleccionado.description}}</p>
        </div>
        <div>
          <label><strong>Presupuesto: </strong></label>
          <div *ngFor="let presupuesto of proyectoseleccionado.budget">
            <p *ngIf="presupuesto == proyectoseleccionado.budget[0]">
              Total: {{presupuesto.budget | currency : 'USD' : "$" : '0.0-0'}} US
            </p>
            <p *ngIf="presupuesto == proyectoseleccionado.budget[1]">
              Presu primer año: {{presupuesto.budget | currency : 'USD' : "$" : '0.0-0'}} US
            </p>
            <p *ngIf="presupuesto == proyectoseleccionado.budget[1]">
              Presu segundo año: {{presupuesto.budget | currency : 'USD' : "$" : '0.0-0'}} US
            </p>
          </div>
        </div>
        <div>
          <label><strong>Beneficiarios: </strong></label><span>{{proyectoseleccionado.total_benef}}</span>
        </div>
        <div>
          <label><strong>Ejecutor: </strong></label><span>{{proyectoseleccionado.ejecutor.org.name}}</span>
        </div>
        <div>
          <label><strong>Implementadores: </strong></label>
          <span *ngFor="let p of proyectoseleccionado.implementers; let last = last;">
             {{p.org.name}} <span *ngIf="!last">,</span>
           </span>
        </div>
        <div>
          <label><strong>Donantes: </strong></label>
          <span *ngFor="let p of proyectoseleccionado.donors; let last = last;">
             {{p.org.name}} <span *ngIf="!last">,</span>
           </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="close-modal" (click)="modal.hide()">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
