<block-ui></block-ui>
<ng4-loading-spinner [timeout]="30000"> </ng4-loading-spinner>
<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 89, height: 25, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none" [ngClass]="{'hide' : session}">
      <button class="btn btn-primary float-right" (click)="login()">
          Login <i class="icon-login"></i>
      </button>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right" [ngClass]="{'hide' : !session}">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
          <button class="btn btn-success float-right" type="button">
              {{name}} <i class="icon-user"></i>
          </button>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Salir</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb" [ngClass]="{'breadcrumb-map': route == '/map'}">
      <app-breadcrumb></app-breadcrumb>
      <!-- Breadcrumb Menu-->
    </ol>
    <div class="container-fluid" [ngClass]="{'container-map': route == '/map'}" >
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
  <app-aside [fixed]="true" [display]="false">

  </app-aside>
</div>
<app-footer>
  <span><small><a href="https://salahumanitaria.co">Sistema Integrado de Información</a> &copy; 2019 OCHA Colombia</small></span>&nbsp;&nbsp;-&nbsp;&nbsp;
  <span><small>Visita la <a href="https://legacy.sidi.salahumanitaria.co">versión anterior de SIDI</a></small></span>
</app-footer>
