<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Striped Table
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Dat registered</th>
                <td>Role</td>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Agapetus Tadeáš</td>
                <td>2012/01/21</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
