<div id="accordion">
  <div class="card">
    <form name="form" (ngSubmit)="step1(f.form)" #f="ngForm" novalidate>
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <a class="btn btn-link" (click)="changeStatusCollapse(1)">
            Informaci&oacute;n B&aacute;sica
          </a>
        </h5>
      </div>

      <div id="collapseOne" class="collapse" [ngClass]="{'show' :collapsedSelected == 1 && isCollapsed}"
           aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">PROYECTOS</div>
                <div class="card-body">
                  <div class="row p15">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="Codigo">Código*</label>
                        <input type="text" class="form-control" [(ngModel)]="item.code" #code="ngModel" name="code"
                               required>

                        <error-message *ngIf="code.invalid && code.touched"
                                       [message]="code.errors | validationError"></error-message>

                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-body">
                          <div class="form-group" *ngFor="let b of item.budget; let i=index">
                            <label for="Presupuesto">

                              <span *ngIf="b.id == 0">Presupuesto Total*</span>
                              <span *ngIf="b.id == 99">Valor por persona</span>
                              <span *ngIf="b.id != 0 && b.id != 99">Presupuesto año {{i}}</span></label>
                            <div *ngIf="b.id == 0">
                              <input type="number" class="form-control" [(ngModel)]="item.budget[i].value" name="presu"
                                     placeholder="USD$" pattern="\d+" #presu="ngModel" required>
                              <error-message *ngIf="presu.invalid && presu.touched"
                                             [message]="presu.errors | validationError"></error-message>
                            </div>
                            <div *ngIf="b.id == 99">
                              <input type="number" class="form-control" [(ngModel)]="item.budget[i].value" name="vp"
                                     placeholder="USD$" pattern="\d+" #vp="ngModel" required>
                              <error-message *ngIf="vp.invalid && vp.touched"
                                             [message]="vp.errors | validationError"></error-message>
                            </div>

                            <input *ngIf="b.id != 0 && b.id != 99" type="number" class="form-control"
                                   [(ngModel)]="item.budget[i].value" name="pres{{i}}" placeholder="USD$" pattern="\d+">


                          </div>
                          <div class="form-group mb0">
                            <button type="button" class="btn btn-outline-success btn-sm mr5" (click)="addP()">
                              <i class="fa fa-plus"></i>&nbsp;Añadir
                            </button>
                            <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeP()">
                              <i class="fa fa-trash"></i>&nbsp;Borrar
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                        <label>Fechas</label>
                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="text" placeholder="Fecha de inicio*" class="form-control" bsDatepicker
                                   [(bsValue)]="item.date_start" value="{{ item.date_start | date:'yyyy-MM-dd' }}" required
                                   name="fi">
                            <error-message *ngIf="!item.date_start" [message]="'Este campo es requerido'"></error-message>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="text" placeholder="Fecha final*" class="form-control" bsDatepicker
                                   [(bsValue)]="item.date_end" value="{{ item.date_end | date:'yyyy-MM-dd' }}" required
                                   name="ff">
                            <error-message *ngIf="!item.date_end" [message]="'Este campo es requerido'"></error-message>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Ejecutora*</label>
                        <button class="btn btn-success btn-square btn-new btn-sm mr5 btn-add-modal" data-toggle="modal"
                                (click)="show_modal(1)" type="button">
                          <i class="fa fa-plus"></i>
                        </button>
                        <ng-select [items]="organizations" [(ngModel)]="item.organization" #organization="ngModel"
                                   name="oe" bindLabel="name" bindValue="id" placeholder="Selecciones la Organización"
                                   required>
                        </ng-select>
                        <error-message *ngIf="organization.invalid && organization.touched"
                                       [message]="organization.errors | validationError"></error-message>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Nombre*</label>
                        <input type="text" class="form-control" [(ngModel)]="item.name" #name="ngModel" required
                               name="np">
                        <error-message *ngIf="name.invalid && name.touched"
                                       [message]="name.errors | validationError"></error-message>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Descripción*</label>
                        <textarea rows="9" class="form-control" [(ngModel)]="item.description" #description="ngModel"
                                  required name="desc"></textarea>
                        <error-message *ngIf="description.invalid && description.touched"
                                       [message]="description.errors | validationError"></error-message>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Contacto en terreno*</label>

                        <button class="btn btn-success btn-square btn-new btn-sm mr5 btn-add-modal" data-toggle="modal"
                                (click)="show_modalContact(4)" type="button"><i class="fa fa-plus"></i></button>

                        <ng-select [items]="contacts" [(ngModel)]="item.contact" #contact="ngModel" name="contact"
                                   bindLabel="name" bindValue="id" placeholder="Seleccione el contacto" required>
                        </ng-select>
                        <error-message *ngIf="contact.invalid && contact.touched"
                                       [message]="contact.errors | validationError"></error-message>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Implementadoras*</label>
                        <button class="btn btn-success btn-square btn-new btn-sm mr5 btn-add-modal" data-toggle="modal"
                                (click)="show_modal(2)" type="button"><i class="fa fa-plus"></i></button>
                        <ng-select [items]="organizations" [multiple]="true" [closeOnSelect]="false" [searchable]="true"
                                   bindLabel="name" bindValue="id" placeholder="Seleccione las organizaciones"
                                   [(ngModel)]="item.implementers" #implementers="ngModel" name="imp" required>
                        </ng-select>
                        <error-message *ngIf="item.implementers.length == 0 && implementers.touched"
                                       [message]="implementers.errors | validationError"></error-message>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="card mb0">
                        <div class="card-body">
                          <label>Donantes</label>

                          <button class="btn btn-success btn-square btn-new btn-sm mr5 btn-add-modal"
                                  data-toggle="modal"
                                  (click)="show_modal(3)" type="button"><i class="fa fa-plus"></i></button>

                          <div class="row" *ngFor="let d of item.donors; let i=index">
                            <div class="col-md-6">
                              <div class="form-group">
                                <ng-select [items]="organizations" [(ngModel)]="item.donors[i].id" name="don{{i}}"
                                           placeholder="Donante" bindLabel="name" bindValue="id"></ng-select>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="item.donors[i].value"
                                       name="ap{{i}}" placeholder="Aportes U$">
                              </div>
                            </div>
                          </div>
                          <div class="form-group mb0">
                            <button type="button" class="btn btn-outline-success btn-sm mr5" (click)="addD()">
                              <i class="fa fa-plus"></i>&nbsp;Añadir
                            </button>
                            <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeD()">
                              <i class="fa fa-trash"></i>&nbsp;Borrar
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">COBERTURA GEOGRAFICA</div>
                <div class="card-body">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Proyecto es de cobertura nacional*</label>
                      <select id="select" name="select" [(ngModel)]="item.national" class="form-control"
                              (change)="updateNacional($event.target.value)" required>
                        <option value="1">Si</option>
                        <option value="0">No</option>
                      </select>

                    </div>
                  </div>
                  <div id="div1" [ngClass]="{'hide' : item.national == '1'}">
                    <div class="col-md-12">
                      <h5><strong>Departamentos</strong></h5>
                      <table class="table table-bordered table-sm">
                        <tbody>
                        <tr *ngFor="let r of regions">
                          <td>
                            <input [(ngModel)]="r.selected" type="checkbox"
                                   (change)="checkAll(r, 'childrens', $event.target.checked)" name="r{{r.id}}">
                            <label (click)="showMpos(r)"><strong>{{r.name}} <i
                              class="fa fa-angle-{{!r.show ? 'down' : 'up'}} fa-lg mt-4"></i></strong></label>
                            <ul class="mpos" [ngClass]="{'hide' : !r.show}">
                              <li *ngFor="let c of r.childrens">
                                <input type="checkbox" name="cc{{c.id}}" [(ngModel)]="c.selected"
                                       (change)="checkMain(c,r,'childrens', $event.target.checked)"
                                       (change)="c.selected = $event.target.checked">{{c.name}}
                              </li>
                            </ul>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--SHORT TABS-->
            <div class="col-md-6" *ngFor="let st of shorttags1; let i=index ">
              <div class="card-header card-padding-5" *ngIf="st.tab == 1">
                <label class="font-weight-bold label-title">{{st.name}}</label>
                <div class="col-sm-12 col-md-12">
                  <div class="card">
                    <ng-select [items]="st.childrens" [(ngModel)]="item.shorttags1[st.id]" name="tag{{i}}"
                               [multiple]="true" [closeOnSelect]="false" [searchable]="true" placeholder="Seleccione"
                               bindLabel="name" bindValue="id"></ng-select>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <div class="row">
            <!--SHORT TAGS-->
            <div class="col-md-6 class-tags" *ngFor="let st of shorttags1; let i=index">
              <div class="card-header card-padding-5">
                <label class="font-weight-bold label-title">{{st.name}}</label>
                <div class="col-sm-12 col-md-12">
                  <div class="card">
                    <ng-select [items]="st.childrens" [(ngModel)]="item.shorttags1[st.id]" name="tag{{i}}"
                               [multiple]="true" [closeOnSelect]="false" [searchable]="true" placeholder="Seleccione"
                               bindLabel="name" bindValue="id"></ng-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Guardar y seguir</button>
        </div>
      </div>
    </form>
  </div>
  <div class="card" [ngClass]="{'disabled' : step < 2}">
    <div class="card-header" id="headingPresupuesto">
      <h5 class="mb-0">
        <a class="btn btn-link" (click)="changeStatusCollapse(2)">
          Presupuesto
        </a>
      </h5>
    </div>
    <div id="collapsePresupuesto" class="collapse"
         [ngClass]="{'show' :collapsedSelected == 2 && isCollapsed && step >= 2}"
         aria-labelledby="headingPresupuesto" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          <!--SHORT TAGS-->
          <div class="col-md-6 class-tags" *ngFor="let st of shorttags2; let i=index">
            <div class="card-header card-padding-5">
              <label class="font-weight-bold label-title">{{st.name}}</label>
              <div class="col-sm-12 col-md-12">
                <div class="card">
                  <ng-select [items]="st.childrens" [(ngModel)]="item.shorttags2[st.id]" name="tag{{i}}"
                             [multiple]="true" [closeOnSelect]="false" [searchable]="true" placeholder="Seleccione"
                             bindLabel="name" bindValue="id"></ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary" (click)="savePresu()">Guardar y seguir</button>
      </div>


    </div>
  </div>
  <div class="card" [ngClass]="{'disabled' : step < 3}">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <a class="btn btn-link" (click)="changeStatusCollapse(3)">
          Clasificaciones
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" [ngClass]="{'show' :collapsedSelected == 3 && isCollapsed && step >= 3}"
         aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <div class="row p15">
          <div class="col-md-12">
            <table class="table table-bordered table-striped table-sm">
              <thead>
              <tr>
                <th></th>
                <th>¿Es tema principal?</th>
                <th>Presupuesto U$</th>
              </tr>
              </thead>
              <tbody class="tbody">
              <tr *ngFor="let children of tagschildrenscluster">
                <td>
                  <input type="checkbox" [(ngModel)]="children.selected"><label>{{children.name}}</label></td>
                <td>
                  <input [disabled]="!children.selected" type="radio" name="mainClusterTag" [(ngModel)]="mainClusterTag"
                         [value]="children.id"> {{children.main}}
                </td>
                <td>
                  <input [disabled]="!children.selected" type="number" class="form-control"
                         [(ngModel)]="children.budget">
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6 class-tags" *ngFor="let t of tags;let i=index ">
            <div class="card-header card-padding-5">
              <label class="font-weight-bold label-title">{{t.name}}</label>
              <div class="col-sm-12 col-md-12">
                <div class="card">
                  <ng-select [items]="t.childrens" [(ngModel)]="item.tags[t.id]" name="tag{{i}}" [multiple]="true"
                             [closeOnSelect]="false" [searchable]="true" placeholder="Seleccione" bindLabel="name"
                             bindValue="id"></ng-select>
                </div>
              </div>
            </div>
          </div>

          <!--SHORT TAGS-->
          <div class="col-md-6 class-tags" *ngFor="let st of shorttags3; let i=index">
            <div class="card-header card-padding-5">
              <label class="font-weight-bold label-title">{{st.name}}</label>
              <div class="col-sm-12 col-md-12">
                <div class="card">
                  <ng-select [items]="st.childrens" [(ngModel)]="item.shorttags3[st.id]" name="tag{{i}}"
                             [multiple]="true" [closeOnSelect]="false" [searchable]="true" placeholder="Seleccione"
                             bindLabel="name" bindValue="id"></ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary" (click)="saveClasif()">Guardar y seguir</button>
      </div>
    </div>
  </div>
  <div class="card" [ngClass]="{'disabled' : step < 4}">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <a class="btn btn-link" (click)="changeStatusCollapse(4)">
          Beneficiarios
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" [ngClass]="{'show' :collapsedSelected == 4 && isCollapsed && step >= 4}"
         aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header"><label><strong>POBLACIONALES DIRECTOS</strong></label>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class=".text-center">TOTAL BENEFICIARIOS</label>
                      <input type="number" [(ngModel)]="item.beneficiaries.poblacionales.total" name="total"
                             class="form-control">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>MUJERES</label>
                      <input (keyup)="mujerValue(true)" [(ngModel)]="item.beneficiaries.poblacionales.gender.m.total"
                             name="mujeresTotal" type="number"
                             name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>0-5 años</label>
                      <input (keyup)="mujerValue()" [(ngModel)]="item.beneficiaries.poblacionales.gender.m.age1"
                             name="mujer05" type="number"
                             name="input1-group1"
                             class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>6-17 años</label>
                      <input (keyup)="mujerValue()" [(ngModel)]="item.beneficiaries.poblacionales.gender.m.age2"
                             name="mujer617" type="number"
                             name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>18-64 años</label>
                      <input (keyup)="mujerValue()" [(ngModel)]="item.beneficiaries.poblacionales.gender.m.age3"
                             name="mujer1864" type="number"
                             name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>65+ años</label>
                      <input (keyup)="mujerValue()" [(ngModel)]="item.beneficiaries.poblacionales.gender.m.age4"
                             name="mujer65" type="number"
                             name="input1-group1"
                             class="form-control">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>HOMBRES</label>
                      <input (keyup)="hombreValue(true)" [(ngModel)]="item.beneficiaries.poblacionales.gender.h.total"
                             name="hombresTotal" type="number"
                             name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>0-5 años</label>
                      <input (keyup)="hombreValue()" [(ngModel)]="item.beneficiaries.poblacionales.gender.h.age1"
                             name="hombre05" type="number"
                             name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>6-17 años</label>
                      <input (keyup)="hombreValue()" [(ngModel)]="item.beneficiaries.poblacionales.gender.h.age2"
                             name="hombre617" type="number"
                             name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>18-64 años</label>
                      <input (keyup)="hombreValue()" [(ngModel)]="item.beneficiaries.poblacionales.gender.h.age3"
                             name="hombre1864" type="number"
                             name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>65+ años</label>
                      <input (keyup)="hombreValue()" [(ngModel)]="item.beneficiaries.poblacionales.gender.h.age4"
                             name="hombre65" type="number"
                             name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Victimas del conflicto</label>
                      <input type="number" name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Afectados por desatres</label>
                      <input type="number" name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Desmovilizados/Reinsertados</label>
                      <input type="number" name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Afro-Colombianos</label>
                      <input type="number" name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Indigenas</label>
                      <input type="number" name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Comentarios: Descripción de género étnico, situación de desplazamientos, etc
                        (Opcional)</label>
                      <textarea type="number" name="input1-group1" class="form-control"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header"><label><strong>POBLACIONALES INDIRECTOS</strong></label>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class=".text-center">TOTAL BENEFICIARIOS</label>
                      <input type="number" name="_total" class="form-control"
                             [(ngModel)]="item.beneficiaries.indirectos.total">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>MUJERES</label>
                      <input (keyup)="_mujerValue(true)" [(ngModel)]="item.beneficiaries.indirectos.gender.m.total"
                             name="_mujeresTotal" type="number"
                             name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>0-5 años</label>
                      <input (keyup)="_mujerValue()" [(ngModel)]="item.beneficiaries.indirectos.gender.m.age1"
                             name="_mujer05" type="number"
                             name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>6-17 años</label>
                      <input (keyup)="_mujerValue()" [(ngModel)]="item.beneficiaries.indirectos.gender.m.age2"
                             name="_mujer617" type="number"
                             name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>18-64 años</label>
                      <input (keyup)="_mujerValue()" [(ngModel)]="item.beneficiaries.indirectos.gender.m.age3"
                             name="_mujer1864" type="number"
                             name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>65+ años</label>
                      <input (keyup)="_mujerValue()" [(ngModel)]="item.beneficiaries.indirectos.gender.m.age4"
                             name="_mujer65" type="number"
                             name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>HOMBRES</label>
                      <input (keyup)="_hombreValue(true)" [(ngModel)]="item.beneficiaries.indirectos.gender.h.total"
                             name="_hombresTotal" type="number"
                             name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>0-5 años</label>
                      <input (keyup)="_hombreValue()" [(ngModel)]="item.beneficiaries.indirectos.gender.h.age1"
                             name="_hombre05" type="number"
                             name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>6-17 años</label>
                      <input (keyup)="_hombreValue()" [(ngModel)]="item.beneficiaries.indirectos.gender.h.age2"
                             name="_hombre617" type="number"
                             name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>18-64 años</label>
                      <input (keyup)="_hombreValue()" [(ngModel)]="item.beneficiaries.indirectos.gender.h.age3"
                             name="_hombre1864" type="number"
                             name="input1-group1" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>65+ años</label>
                      <input (keyup)="_hombreValue()" [(ngModel)]="item.beneficiaries.indirectos.gender.h.age4"
                             name="_hombre65" type="number"
                             name="input1-group1" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <strong>NO POBLACIONALES</strong>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Organizaciones beneficiarias</label>

                      <button class="btn btn-success btn-square btn-new btn-sm mr5 btn-add-modal" data-toggle="modal"
                              (click)="show_modal(5)" type="button"><i class="fa fa-plus"></i></button>

                      <ng-select [items]="organizations" [multiple]="true"
                                 [(ngModel)]="item.beneficiaries.organizations" name="org" [closeOnSelect]="false"
                                 [searchable]="true"
                                 bindLabel="name" bindValue="id" placeholder="Seleccione las organizaciones">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!--SHORT TAGS-->
          <div class="col-md-6 class-tags" *ngFor="let st of shorttags4; let i=index">
            <div class="card-header card-padding-5">
              <label class="font-weight-bold label-title">{{st.name}}</label>
              <div class="col-sm-12 col-md-12">
                <div class="card">
                  <ng-select [items]="st.childrens" [(ngModel)]="item.shorttags4[st.id]" name="tag{{i}}"
                             [multiple]="true" [closeOnSelect]="false" [searchable]="true" placeholder="Seleccione"
                             bindLabel="name" bindValue="id"></ng-select>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary" (click)="saveBenef()">Guardar</button>
        <button type="button" class="btn btn-primary ml-15" (click)="saveBenef(true)">Guardar y salir</button>
      </div>
    </div>
  </div>

</div>


<!--MODAL-->

<button type="button" style="visibility: hidden;" id="btn-show-modal" (click)="modal.show()"></button>
<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nueva Organización</h4>
        <button type="button" class="close" (click)="modal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="form-group row">
            <div class="col-md-12">
              <input type="text" name="name" [(ngModel)]="organizationitem.name" class="form-control"
                     placeholder="Nombre">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <input type="text" name="acronym" [(ngModel)]="organizationitem.acronym" class="form-control"
                     placeholder="Siglas">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-12 col-form-label">Tipo de organización</label>
            <div class="col-md-12">
              <select name="organization_type_id" [(ngModel)]="organizationitem.organization_type_id"
                      class="form-control">
                <option *ngFor="let i of type" value="{{i.id}}">{{i.type}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="close-modal" (click)="modal.hide()">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="saveOrUpdate()">Guardar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<!--MODAL CONTACT-->

<button type="button" style="visibility: hidden;" id="btn-show-modalContact"
        (click)="modalContact.show()"></button>
<div bsModal #modalContact="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nuevo Contacto en Terreno</h4>
        <button type="button" class="close" (click)="modalContact.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="form-group row">
            <div class="col-md-12">
              <input type="text" name="first_name" [(ngModel)]="newcontact.first_name" class="form-control"
                     placeholder="first_name">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <input type="text" name="last_name" [(ngModel)]="newcontact.last_name" class="form-control"
                     placeholder="last_name">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <input type="text" name="email" [(ngModel)]="newcontact.email" class="form-control"
                     placeholder="email">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <input type="text" name="twitter" [(ngModel)]="newcontact.twitter" class="form-control"
                     placeholder="twitter">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-12 col-form-label">Grupo de Contacto</label>
            <div class="col-md-12">
              <select name="organization_type_id" [(ngModel)]="newcontact.contact_group_id" class="form-control">
                <option *ngFor="let i of contactsgroups" value="{{i.id}}">{{i.name}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="close-modalContact" (click)="modalContact.hide()">
          Cerrar
        </button>
        <button type="button" class="btn btn-success" (click)="saveContact()">Guardar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
