//export const api = "http://localhost:8000/api";
export const api = 'http://sidiback:8888/api';
export const auth0_clientID = '6iV2YMtOB1QWydU9SuB4Xg6EVM2MYxxW';
export const auth0_domain = 'yflorezrkuery.auth0.com';
export const auth0_responseType = 'token id_token';
export const auth0_redirectUrl = 'http://sidi.kuery.com.co/callback_auth0';
export const auth0_scope = 'openid email profile';
